%section
  %h2.sectionTitle
    %span.icon24.edit
    Edit photo
  = link_to admin_photo_path(@photo), method: :delete, class: 'delete', 'data-confirm' => 'Are you sure you want to delete this?' do
    %span.icon24.cross.red
  = render 'form'

:javascript
  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var photoTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @photo_tags }, formats: [:json])}
  );

  var tagSelectionView = new EpicImages.Views.TagSelection({
    el: '#tagsInput',
    collection: tags,
    tagData: photoTags
  });

  tagSelectionView.render();