= render 'form'

:javascript
  var tags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @tags }, formats: [:json])}
  );

  var photoTags = new EpicImages.Collections.Tags(
    #{render(partial: 'tags/tags', locals: { tags: @photo_tags }, formats: [:json])}
  );

  var tagSelectionView = new EpicImages.Views.TagSelection({
    el: '#tagsInput',
    collection: tags,
    tagData: photoTags
  });

  tagSelectionView.render();