$nexa_path: url(font_url('nexa_light.woff')),
            url(font_url('nexa_light.ttf')),
            url(font_url('nexa_light.eot')),
            url(font_url('nexa_light.svg'));

$nexa_bold_path: url(font_url('nexa_bold.woff')),
                 url(font_url('nexa_bold.ttf')),
                 url(font_url('nexa_bold.eot')),
                 url(font_url('nexa_bold.svg'));

@font-face {
  font: {
    family: Nexa;
    weight: normal;
  }
  src: $nexa_path;
}

@font-face {
  font: {
    family: Nexa;
    weight: bold;
  }
  src: $nexa_bold_path;
}