$nexa_path: url(nexa_light.woff), url(nexa_light.ttf), url(nexa_light.eot), url(nexa_light.svg);
$nexa_bold_path: url(nexa_bold.woff), url(nexa_bold.ttf), url(nexa_bold.eot), url(nexa_bold.svg);

@font-face {
  font-family: Nexa;
  src: $nexa_path;
}

@font-face {
  font-family: Nexa;
  src: $nexa_bold_path;
  font-weight: bold;
}