
@mixin border-radius($radius: 10px, $important: null) {
  -webkit-border-radius: $radius $important;
  -moz-border-radius: $radius $important;
  border-radius: $radius $important;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($property, $duration: 0.5s, $easing: linear) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}