
@mixin border-radius($radius: 10px, $important: null) {
  -webkit-border-radius: $radius $important;
  -moz-border-radius: $radius $important;
  border-radius: $radius $important;
}

@mixin box-shadow($x: 2px, $y: 2px, $blur: 2px, $spread: 2px, $color: #555, $inset: null) {
  -webkit-box-shadow: $inset $x $y $blur $spread $color;
  -moz-box-shadow: $inset $x $y $blur $spread $color;
  box-shadow: $inset $x $y $blur $spread $color;
}

@mixin transition($property, $duration: 0.5s, $easing: linear) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}