@import 'colors';

.button {
  background: $blue;
  padding: 10px 15px;
  font-family: Nexa, Helvetica, sans-serif;
  border: 0;
  color: white;
  &.red {
    background: $red;
  }
}

h1 .button {
  font-size: 16px;
  font-weight: normal;
}

button, .button {
  &:active, &:focus {
    outline: 0;
  }
}

.button + .button {
  margin-left: 10px;
}

input[type=submit].button, button.button {
  vertical-align: inherit;
}

a.button, input[type=submit].button, button.button {
  &:hover {
    color: white;
    background: lighten($blue, 10%);
  }
  &.red:hover {
    color: white;
    background: lighten($red, 10%);
  }
}