@import 'colors';

.button {
  background: $blue;
  padding: 10px 15px;
  font-family: Nexa, Helvetica, sans-serif;
  border: 0;
  color: white;
  margin-left: 5px;
}

a.button {
  &:hover {
    color: white;
    background: lighten($blue, 10%);
  }
}