@import 'colors';
@import 'mixins';

.content {
  width: 960px;
  margin: 20px auto;
}

section {
  padding: 20px;
  background: white;
  position: relative;
  @include border-radius(2px);
  @include box-shadow(0, 0, 9px, null, rgba(0, 0, 0, 0.1));
  margin-top: 20px;

  a {
    color: $blue;
    @include transition(color, 0.3s);
    &:hover {
      @include transition(color, 0.08s);
      color: $lightGreen;
    }
  }

  &.attention {
    background: $red;
    padding: 40px 20px;
    text-align: center;
    font-size: 40px;
    color: white;
  }

  &.galleries {
    padding-bottom: 10px;
  }

  &.photos {
    padding: 15px;
  }

  &.actions {
    padding: 10px;
  }

  .delete {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.tabbedContainer ~ section {
  margin-top: 8px;
}

.sectionTitle {
  border-bottom: 1px dashed $lightGreen;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

div.divider {
  width: 90%;
  border-bottom: 1px solid #EFEFEF;
  margin: 10px auto;
}