@import 'colors';
@import 'mixins';

.searchSubmit {
  background: $blue;
  padding: 10px 15px;
  font-family: Nexa, Helvetica, sans-serif;
  border: 0;
  color: white;
  margin-left: 5px;
}

select.search {
  width: 400px;
}

.input {
  margin: 20px 0;
  position: relative;
  width: 335px;
  label {
    font-size: 18px;
    width: 200px;
    display: block;
    margin-bottom: 5px;
    &.large {
      width: 500px;
    }
  }
  &.checkbox {
    label {
      display: inline-block;
      position: relative;
      top: 3px;
    }
  }
  &.large {
    width: 500px;
  }

}
.fileInput {
  margin-bottom: 20px;
  padding: 0 5px;
  width: 100%;
  @include box-sizing;
  label {
    display: block;
  }
  .inputContainer {
    margin-right: 40px;
    float: left;
    min-height: 40px;
  }
}
.progress {
  @include border-radius(3px);
  overflow: hidden;
  height: 20px;
  background: #EFEFEF;
  .bar {
    background: $blue;
    width: 0px;
    height: 20px;
  }
  &.global {
    height: 25px;
    .bar {
      height: 25px;
    }
  }
}

.filePicker {
  opacity: 0;
  z-index: 100;
  filter: alpha(opacity = 0);
  cursor: pointer;
}

.chooseFile {
  z-index: 1;
}

.hint {
  font-size: 14px;
  font-style: italic;
  width: 500px;
}

input[type=text], input[type=email], input[type=password], textarea {
  border: 1px solid #CCC;
  @include border-radius(3px);
  padding: 8px;
  color: #333;
  width: 300px;
  &:focus {
    outline: none;
    @include box-shadow(0 0 3px 1px #CCC);
  }
  &.inputIcon {
    width: 270px;
    padding-right: 38px;
  }

  .input.large & {
    width: 465px;
  }

  .attributes & {
    width: 252px;
    border: 0;
    border-bottom: 1px solid #CCC;
    resize: none;
    font-size: 13px;
    @include border-radius(0);
    &:focus {
      outline: none;
      @include box-shadow(none);
    }
  }
}

.attributesContainer {
  border: 1px solid #CCC;
}

.attributes {
  width: 298px;
  position: relative;

  .featured {
    background: #EFEFEF;
    input[type=checkbox] {
      position: absolute;
      top: 8px;
      z-index: 100;
      opacity: 0;
      filter: alpha(opacity = 0);
    }
    .glyph {
      position: relative;
      top: 2px;
    }
  }
}
.selectable {
  float: left;
  line-height: 16px;
  padding: 8px;
  border-right: 1px solid #CCC;
  input[type=checkbox] {
    height: 16px;
    width: 16px;
  }
}
