@import 'colors';
@import 'mixins';

span.icon16 {
  font: {
    family: Icon !important;
    size: 16px;
  }
  &.mail:after {
    content: "\e008";
  }
  &.lock:after {
    content: "\e009";
  }
  &.bubble:after {
    content: "\e013";
  }
  &.edit:after {
    content: "\e005";
  }
  &.plus:after {
    content: "\e004";
  }
  &.cross:after {
    content: "\e00d";
  }
  &.man:after {
    content: "\e007";
  }
  .sectionTitle & {
    position: relative;
    top: 2px;
    margin-right: 10px;
  }
  .button & {
    position: relative;
    top: 2px;
    margin-right: 5px;
    &.plus {
      top: 1px;
    }
  }
  &.red {
    color: $red;
  }
}

// [class^="icon16-"], [class*=" icon16-"] {
//   font: {
//     family: Icon !important;
//     size: 16px;
//   }
//   &.red {
//     color: $red;
//   }
//   .button & {
//     position: relative;
//     top: 2px;
//     margin-right: 5px;
//     &.plus {
//       top: 1px;
//     }
//   }
// }

span.icon24 {
  @extend span.icon16;
  font: {
    weight: bold;
    size: 24px;
  }
  &.plus:after {
    content: "\e003";
  }
}

label.icon {
  width: 16px;
  display: inline-block;
  @extend span.icon16;
  &.inputIcon {
    color: $blue;
    position: absolute;
    right: 35px;
    top: 39px;
  }

  .attributes & {
    right: 14px;
    top: 10px;
    color: #CCC;
  }
}

span.glyph {
  font-family: Glyph;
  font-style: normal;
  font-size: 14px;
  .button & {
    position: relative;
    top: 2px;
    margin-right: 10px;
  }
  &.red {
    color: $red;
  }
  &.large {
    font-size: 24px;
  }
  &.exit:after {
    content: "\f324";
  }
  &.save:after {
    content: "\f0c8";
  }
  &.search:after {
    content: "\f0c5";
  }
  &.trash:after {
    content: "\f0ce";
  }
  &.images:after {
    content: "\f09f";
  }
  &.redo:after {
    content: "\f32b";
  }
  &.upload:after {
    content: "\f11b";
  }
  &.check {
    height: 10px;
    width: 10px;
    border: 2px solid #666;
    @include border-radius(1px);
    display: inline-block;
  }
  &.checked {
    color: $green;
    &:after {
      content: "\f310";
    }
  }
}

h1 {
  span.glyph {
    font-size: 24px;
    margin-right: 5px;
  }
}