%section
  = image_tag 'david_and_angie.jpg', alt: 'About Us', class: 'aboutUs'

  %p
    angela and i are a husband/wife team and we love taking epic pictures! i generally shoot most of the images while angie keeps everyone organized and laughing! we have complimenting personalities which usually makes our clients feel comfortable with our professionalism, yet at ease by our lighthearted nature. we are always early and on point, yet flexible and understanding. we are very relaxed and we rarely “pose” you. your pictures will be candid, creative and journalistic in nature; capturing true emotion, expressions, and events.

    we offer complimentary engagement shoots when you book your wedding photography with us. when you book a wedding with us, we offer a complimentary engagement shoot. so we feel as though we are your friends and guests on your special day. we believe that your photographs should not only be epic, but also artistic. art pieces that you can be proud of and even build your interior design from. your wedding plans are expensive from start to finish; your photographs should be as breathtaking as you are on that day.

    we recently opened epic studios, we are excited about our new and different take on studio photography!

    the greatest compliment a client can give is repeat business, and the second best is to refer a friend. most of our advertising is “word-of-mouth,” and we have enjoyed many repeat clients and kind referrals.

    we look forward to speaking with you soon!

    david and angie