@import 'shared/colors';
@import 'shared/mixins';

.galleries {
  .galleryItem {
    width: 300px;
    margin: 0 0 10px 10px;
    float: left;
  }
  .galleryItem:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.imageWrapper {
  height: 200px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

.caption {
  position: relative;
  text-align: center;
  padding: 20px;
  background: $blue;
  color: white;
  font-size: 1.3em;
  opacity: .7;
}

select.search {
  width: 400px;
}

.searchSubmit {
  background: $blue;
  padding: 10px 15px;
  font-family: Nexa, Helvetica, sans-serif;
  border: 0;
  color: white;
  margin-left: 5px;
}