header {
  margin-bottom: 20px;
}

nav {
  width: 100%;
  font-size: 16px;
  .logo {
    background: url('logo.png') no-repeat;
    height: 90px;
    width: 300px;
  }
  ul {
    list-style-type: none;
    margin-top: 50px;
    li {
      display: inline;
    }

    a {
      display: block;
      float: left;
      padding: 5px 15px;
    }
  }
}