@import 'shared/colors';

header {
  margin-bottom: 20px;
  padding: 20px;
  background: $blue;
}

nav {
  width: 100%;
  font-size: 16px;
  height: 67px;
  .logo {
    background: url('logo.png') 0 -15px no-repeat;
    height: 71px;
    width: 300px;
  }
  ul {
    list-style-type: none;
    margin-top: 33px;
    li {
      display: inline;
    }

    a {
      display: block;
      float: left;
      padding: 8px 15px;
      color: $silver;
      &:visited {
        color: $silver;
      }
      &:hover {
        border-bottom: 2px solid $lightGreen;
      }
    }
  }
}