@import 'shared/colors';

.grid {
  width: 917px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  .item {
    width: 218px;
    margin-left: 15px;
    float: left;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      .itemTitle {
        background: $darkBlue;
      }
      img {
        opacity: 0.8;
      }
    }
  }
  .itemTitle {
    margin-top: 5px;
    padding: 13px 10px;
    color: $silver;
    background: $blue;
    font-size: 18px;
    line-height: 18px;
  }
}

.intro {
  margin-top: 20px;

}

.welcome {
  font-size: 24px;
  line-height: 24px;
}

p {
  font-size: 14px;
  strong {
    font-size: 1.1em;
  }
}

.blogs {
  margin-top: 20px;
  title {
    font-size: 20px;
  }
}

.readMore {
  margin-top: 40px;
}