@import 'shared/colors';
@import 'shared/mixins';

.tag {
  background: $red;
  padding: 7px 5px 10px;
  margin-right: 3px;
  margin: 0 3px 3px 0;
  line-height: 13px;
  color: white;
  @include border-radius(2px);

  a {
    color: white;
    font-size: 1.2em;
    position: relative;
    top: 3px;
  }
}