.blog {
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
  &:last-child {
    border-bottom: 0;
  }
  a {
    font-size: 20px;
  }
  .actions a {
    margin-left: 10px;
  }
  .time {
    margin-left: 20px;
  }
}