@import 'shared/colors';
@import 'shared/mixins';

header {
  background: $blue;
  padding: 20px;

  a {
    color: $silver;
    &.profile {
      font-size: 14px;
      display: block;
      padding-right: 15px;
    }
  }
}

.dropdown-menu {
  @include border-radius(4px);
  font-size: 16px;
  a {
    color: $blue;
    &:visited {
      color: $blue;
    }
    float: none;
  }

  li {
    display: block;
  }

  & > li > a {
    padding: 3px 10px 5px;
    line-height: 16px;
    &:hover {
      background: lighten($blue, 10%);
      border-bottom: 0;
    }
  }

  .icon16, .glyph {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
}

nav {
  width: 90%;
  font-size: 20px;
  height: 67px;
  margin: 0 auto;
  .adminLogo {
    background: url('admin_logo.png') 0 -1px no-repeat;
    height: 71px;
    width: 300px;
  }
  ul {
    list-style-type: none;
    margin-top: 33px;
    li {
      display: inline;
    }

    a {
      display: block;
      float: left;
      padding: 8px 15px;
      &:visited {
        color: $silver;
      }
      &:hover, &.currentPage {
        border-bottom: 2px solid $lightGreen;
      }
    }
  }
}