@import 'shared/colors';

.photos { position: relative; }

.photo {
  width: 222px;
  margin: 5px;
  float: left;
  position: relative;
  background: $outline;
  img {
    display: none;
  }

  .attributesContainer & {
    width: 298px;
    margin: 0;
    float: none;
    img {
      margin: 0 auto;
    }
  }
}
.photoUploads {
  .photoUpload {
    width: 300px;
    margin: 3px;
    margin-bottom: 5px;
    float: left;

    .name {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}