= link_to '&larr; Back to Gallery'.html_safe, tags_path, class: 'button left'
%h1.right= @tag.name.upcase
.clear
%section.photos
  - @tag.photos.each do |photo|
    .photo{ style: "height: #{photo.image.height(:thumb)}px" }= image_tag photo.image.url(:thumb)
  .clear