@import 'shared/colors';
@import 'shared/mixins';

.select2-container.inputIcon {
  padding-right: 38px;

  .attributes & {
    border-bottom: 1px solid #CCC !important;
  }
}

.select2-choices {
  padding: 3px 5px 0 !important;
  line-height: 35px !important;
  border: 1px solid #CCC !important;
  background-image: none !important;
  .attributes & {
    font-size: 13px !important;
    border: 0 !important;
    line-height: normal !important;
    @include box-shadow(none !important);
  }
}

.select2-search-field {
  position: relative !important;
  top: -3px !important;

  .attributes & {
    top: -1px !important;
  }

  input {
    font-family: Nexa, Helvetica, sans-serif !important;
  }
}

.select2-search-choice {
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  background: {
    color: transparent !important;
    image: none !important;
  }

  @include box-shadow(none !important);

  a {
    display: inline !important;
    font-size: 1.4em !important;
    color: white !important;
    position: relative !important;
    top: 3px !important;
    margin-right: 5px;
    background: none;
  }
}